{% load static %}
<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="tel:+22893571279"><i class="fa fa-phone"></i>+22893571279</a>
                    <a href="mailto:info@businessclef.fr?subject=Contact%20depuis%20http://cardealer.fr"><i class="fa fa-envelope"></i>Me contacter par mail</a>
                    <span style="color:#fff; curser:pointer"><i class="fa fa-clock-o"></i> Lundi - Ven: 8h:00 - 6h:00</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'dashboard'%}" class="sign-in"><i class="fa fa-tachometer"></i>Tableau de bord</a>
                        </li>
                        <li>
                            <a href="javascript:{document.getElementById('logout').submit()}" class="sign-in"><i class="fa fa-sign-in"></i> Se déconnecter</a>
                            <form action="{% url 'logout' %}" id="logout" method="POST">
                                {% csrf_token%}
                               <input type="hidden">
                               
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login'%}" class="sign-in"><i class="fa fa-sign-in"></i> Connexion</a>
                        </li>
                        <li>
                            <a href="{% url 'register'%}" class="sign-in"><i class="fa fa-user"></i> S'inscrire</a>
                        </li>
                    {% endif %}
                   
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->